# Telegram
BOT_TOKEN=your_bot_token_here
ALLOWED_USER=your_telegram_id_here

# qBittorrent (поменяй после первого запуска в WebUI)
QB_USER=admin
QB_PASS=adminadmin

# IP сервера (для Jellyfin)
SERVER_IP=your_server_ip_here
