.input {
  --input-bg: var(--tg-theme-section-bg-color) !important;
  --input-bd: rgba(128, 128, 128, 0.2) !important;
  --input-placeholder-color: var(--tg-theme-hint-color) !important;
  --input-bd-focus: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-text-color) !important;
}
